#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Pipeline Help
Comment=Grendel Houdini
Exec=xdg-open /groups/grendel/byu-pipeline-tools/how-to/index.html
Icon=/groups/grendel/byu-pipeline-tools/assets/images/icons/byu-browser.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Pipeline Help
