#!/usr/bin/env xdg-open
[Desktop Entry]
Version=x.y
Name=Grenduke
Comment=Grendel Nuke
Exec=/groups/grendel/byu-pipeline-tools/app-launch-scripts/project_nuke.sh
Icon=/groups/grendel/byu-pipeline-tools/assets/images/icons/byu-nuke.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Grenduke
