[Desktop Entry]
Version=x.y
Name=Grendack
Comment=Grendel Slack
Exec=xdg-open https://grendelbyu.slack.com/
Icon=/groups/grendel/byu-pipeline-tools/assets/images/icons/byu-slack.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Grendack
