[Desktop Entry]
Version=x.y
Name=Grendel Project Browser
Comment=Grendel Project Browser
Exec=/groups/grendel/byu-pipeline-tools/project_browser.sh
Icon=/groups/grendel/byu-pipeline-tools/byugui/assets/images/icons/byu-browser.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Grendel Project Browser
