#!/usr/bin/env xdg-open
[Desktop Entry]
Version=x.y
Name=Grendeya
Comment=Grendel Maya
Exec=/groups/grendel/byu-pipeline-tools/app-launch-scripts/project_maya.sh
Icon=/groups/grendel/byu-pipeline-tools/assets/images/icons/byu-maya.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Grendaya
