[Desktop Entry]
Version=1.0
Name=Grendari
Comment=Grendel Mari
Exec=/groups/grendel/byu-pipeline-tools/project_mari.sh
Icon=/groups/grendel/byu-pipeline-tools/icons/grendel-mari1.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Grendari
