[Desktop Entry]
Version=x.y
Name=Duskaya
Comment=Taijitu Maya
Exec=/users/guest/s/samuelgc/Pipeline/byu-pipeline-tools/project_maya.sh
Icon=/users/guest/t/tcbarrus/taijitu/byu-pipeline-tools/icons/taijitu_maya.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Taijiya
