[Desktop Entry]
Version=1.0
Name=Taijini
Comment=Taijitu Houdini
Exec=/groups/dusk/byu-pipeline-tools/project_houdini.sh
Icon=/groups/dusk/byu-pipeline-tools/icons/taijitu_houdini.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Taijini
