#!/usr/bin/env xdg-open
[Desktop Entry]
Version=x.y
Name=Taijuke
Comment=Taijitu Nuke
Exec=/groups/dusk/byu-pipeline-tools/project_nuke.sh
Icon=/groups/dusk/byu-pipeline-tools/byugui/assets/images/yinyang.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Taijuke
