[Desktop Entry]
Version=1.0
Name=Taijari
Comment=Taijitu Mari
Exec=/groups/dusk/byu-pipeline-tools/project_mari.sh
Icon=/users/guest/t/tcbarrus/taijitu/byu-pipeline-tools/icons/taijitu_mari.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[en_US]=Taijari
