body {
	background-color: #21252b;
	color: #abb2bf;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Jim Nightshade', cursive;
}

h1, h2 {
	text-align: center;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
 	margin-right: auto;
	margin-bottom: 15px;
}

#main-wrapper {
	background-color: #282c34;
	padding: 37px;
}

.signiture {
	font-family: 'Homemade Apple', cursive;
	font-size: 150%;
}

#bottom-corner {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
